*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    width: 100%;
}